@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body{
    background-color: teal;
    font-size: 1.25rem;
    font-family: 'Share Tech Mono', monospace;
    color: white;
}

a{
    color: yellow;
}

a:hover{
    color: palevioletred;
}